################################################################################
# UiPath Studio
################################################################################

.local/

################################################################################
# UiPath Settings
################################################################################

.settings/*
!.settings/Release/

################################################################################
# UiPath Runtime / Temp / Cache
################################################################################

**/.screenshots/
**/.objects/
**/.tmh/
**/.cache/
**/.temp/
**/Temp/
**/Logs/
**/log/
**/*.log

################################################################################
# Test Results
################################################################################

**/TestResults/
**/Tests/
**/*.trx

################################################################################
# Modern folders
################################################################################

.data/

################################################################################
# Windows / OS
################################################################################

Thumbs.db
Desktop.ini
.DS_Store
